* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: #1f2235;
  font-family: "andika";
}

nav {
  background: #eeeeee;

  height: 60px;
  width: 100%;
}
label.logo {
  color: #1f2235;
  font-size: 25px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 55px;
  margin: 0 5px;
}
nav ul li a {
  color: #1f2235;
  font-size: 12px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a.active,
nav ul li a:hover {
  background: #1f2235;
  color: #eeeeee;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #1f2235;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.content,
.main-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0 100px;
}
.icons {
  display: flex;
  font-size: 10px;
  padding-bottom: 30px;
}
.icons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #1f2235;
  margin-right: 20px;
}
.icons > div:hover {
  background-color: #1f2235;
}
.cta {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.cta button {
  font-size: 15px;
  width: 100px;
  background-color: white;
  padding: 3px;
  margin-right: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #1f2235;
  cursor: pointer;
}
.cta button:hover {
  background-color: #1f2235;
  color: #eeeeee;
}
.cta i {
  font-size: 35px;
  margin-top: 3px;
}
.cta i:hover {
  color: #1f2235;
  border: none;
}
.content-left,
.about-left {
  height: 100vh;
  width: 300px;
}
.content-left > img,
.about-left > img {
  width: 100%;
}
.service-content {
  display: flex;
  flex-direction: column;
}
#services {
  height: 100vh;
  width: 100%;
}
.txt,
.about-txt {
  text-align: center;
}
.txt h3,
.about-txt h3 {
  color: #1f2235;
  padding-bottom: 20px;
}
.txt p,
.about-txt p {
  padding-bottom: 30px;
  width: 50%;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 30px 0 0;
}

.card1,
.card2,
.card3 {
  margin: 30px;
  padding: 10px 10px;
  width: 200px;
  height: 200px;
  background: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.card1 > img {
  width: 30px;
  height: 30px;
}
.card2 > img {
  width: 30px;
  height: 30px;
}
.card3 > img {
  width: 30px;
  height: 30px;
}

h5 {
  padding: 10px 0;
}
#about {
  display: flex;
  flex-direction: column;
}

.main-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex: 1;
}
.about-right {
  width: 50%;
}
.about-bottom {
  display: flex;
  justify-content: space-between;
padding: 50px 0;

}
.about-bottom-right h4,.about-bottom-left h4 {
  padding-top: 20px;
  color: #560404;
}
@media (max-width: 768px) {
  label.logo {
    font-size: 20px;
    padding-left: 50px;
  }
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 20%;
    height: 50px;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 10px;
  }
  nav ul li a:hover,
  a.active {
    background: #1f2235;
    color: #cfb6b6;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .content-left {
    height: 300px;
    width: 300px;
    padding-right: 50px;
  }
  .content-right {
    margin-top: 80px;
    text-align: center;
    padding: 0px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .card1,
  .card2,
  .card3 {
    margin: 30px;
    padding: 30px 10px;
    width: 180px;
    height: 190px;
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
