* {
  padding: 0;
  margin: 0;
  font-family: "andika";
}

html {
  background-color: #c7c1c1;
  color: #1f2235;
}
.navbar-container{
  /* position: fixed; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:#eeeeee;
  color:#1f2235;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar-logo a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #1f2235;
}

.navbar-items a{
  text-decoration: none;
  padding-right: 20px;
  color: #1f2235;
}
.navbar-items .login-btn{
  border: 1px solid #1f2235;
  border-radius: 20px;
  text-align:center;
  padding: 2px 10px;
}
.navbar-items .login-btn:hover{
  background-color: #1f2235;
  color: #eeeeee;
  transition: all .5s;
}
.navbar-menu{
  display: none;
  padding: 5px 8px;
  font-size: 20px;
}


.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.content-right {
  font-size: 20px;
  /* padding: 0 100px; */
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.icons img {
  width: 30px;
  height: 30px;
}

.cta {
  padding-top: 30px;
}

.cta button {
  font-size: 15px;
  width: 150px;
  background-color: white;
  color: #1f2235;
  padding: 3px;
  margin-right: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #1f2235;
  cursor: pointer;
}

.cta button:hover {
  background-color: #1f2235;
  color: #eeeeee;
}

.cta i {
  font-size: 35px;
  margin-top: 3px;
}

.cta i:hover {
  color: #1f2235;
  border: none;
}

.content-left > img,
.about-left > img {
  width: 100%;
}

#services {
  background-color: #eeeeee;
  text-align: justify;
}

.txt, .contact-content{
margin: auto;
text-align: center;
  width: 50%;
  /* text-align: justify; */
}

.txt h2 {
  padding: 35px;
}
.contact-content{
  margin-bottom: 20px;
}


.contact-left {
  width: 50%;
  /* text-align: justify; */
}
.contact-left .icons {
  width: 30%;
  /* text-align: center; */
  padding-left: 6rem;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
}

.card1,
.card2,
.card3 {
  padding: 10px;
  width: 25%;
  margin: 10px;
  background: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.card1 > img {
  width: 30px;
  height: 30px;
}

.card2 > img {
  width: 30px;
  height: 30px;
}

.card3 > img {
  width: 30px;
  height: 30px;
}

h5 {
  padding: 10px 0;
}

#about {
  padding: 20px;
}

.about-txt {
  text-align: center;
}

.about-txt h2 {
  padding: 20px 0;
}

.about-txt p {
  width: 50%;
  margin: auto;
}

.main-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-right {
  width: 50%;
}

.about-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 0;
}

.about-bottom-right h4,
.about-bottom-left h4 {
  padding-top: 20px;
  color: #560404;
}

.nav-bar button {
  float: right;
  margin: 15px 20px 0 0;
  width: 5%;
  height: 30px;
  border: none;
  background-color: #1f2235;
  border: 1px solid #1f2235;
  border-radius: 50px;
  margin-bottom: 30px;
}

.nav-bar button a {
  text-decoration: none;
  color: #eeeeee;
}

.nav-bar button a:hover {
  background-color: white;
  border: 1px solid #1f2235;
  color: #1f2235;
  border: none;
}

#signup-form,
#login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-form h1,
#login-form h1 {
  margin-bottom: 10px;
}
#signup-form button,
#login-form button {
  padding: 5px 30px;
  background-color: #1f2235;
  color: white;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
}
#signup-form button:hover,
#login-form button:hover {
  color: #1f2235;
  background-color: white;
  border: 1px solid #1f2235;
}
#signup-form input,
#login-form input {
  width: 25%;
  margin: 10px 0;
}
#contact {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* .contact-txt {
  width: 50%;
  margin: auto;
  padding: 20px;
} */

.contact-right {
  width: 50%;
}

.contact-right h2 {
  padding-bottom: 20px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #1f2235;
  margin: 5px 0;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.contact-form h2{
  padding: 15px;
}
.contact-form button {
 padding: 0 60px;
  height: 35px;
  margin: 10px auto;
  border-radius: 20px;
  border: 1px solid #1f2235;
}
.contact-form button:hover{
  color: #eeeeee;
  background-color: #1f2235;
  transition: all 0.5s;
  cursor:pointer;
}
::placeholder {
  padding: 20px 0 0 15px;
}

.blogs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 20px;
}

.articles {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #c7c1c1;
  width: 100%;
}

.article img {
  width: 190px;
  height: 190px;
}
.article-img img {
  width: 100%;
}
.blog-lists .article {
  height: 315px;
  width: 250px;
}
.article {
  height: 30%;
  width: 20%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  text-decoration: none;
  color: #1f2235;
  transition: all 0.5s;
}
.article:hover {
  background-color: #1f2235;
  color: #eeeeee;
  cursor: pointer;
}
.action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.update {
  background-color: #1f2235;
  color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #1f2235;
}

.update:hover {
  background-color: #fff;
  color: #1f2235;
  transition: all 0.7s;
}

.delete {
  background-color: #560404;
  color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #560404;
}
.delete:hover {
  background-color: #fff;
  color: #560404;
  transition: all 0.7s;
}
.article p {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: justify;
  margin: 0.6rem 0;
}

.blog-container {
  width: 50%;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  color: #034c66;
}

.admintop {
  text-align: center;
  padding-top: 15px;
  position: fixed;
  background: #1f2235;
  color: #eeeeee;
  height: 60px;
  width: 100%;
}

.adminleft {
  padding: 100px;
  width: 30%;
  background: black;
}

.adminright {
  width: 70%;
  background-color: red;
}

.dashboard {
  height: 100vh;
  font-family: "Andika";
  /* display :'none'; */
  /* background-color: #1f223554; */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2235;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  font-size: 15px;
}
.top img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.top button {
  color: #eeeeee;
  background-color: rgb(75, 8, 8);
  border-radius: 20px;
  padding: 5px 20px;
  border: none;
  
}

.top button:hover {
  color: #560404;
  background-color: #eeeeee;
  border: 1px solid #1f2235;
}
.add-blog {
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: none;
}
.add-blog .btn{
  color: #1f2235;
  background-color: #fff;
  border: 1px solid #1f2235;
  border-radius: 20px;
  /* padding: 20px; */
}
#form-container{
  background-color: #2d2d3100;
  display: none;
}
.form {
  background-color: #1f2235;
  color: #eeeeee;
  position: absolute;
  width: 400px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: none;
  z-index: 1000;
}

 .form-display {
  display: flex;
}
.hide-articles{
  display:none;
}
#add-form {
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: .5rem;

}

#add-form textarea,
#add-form input {
  width: 100%;
}

#add-form button {
  background-color: #eeeeee;
  color: #1f2235;
  border-radius: 10px;
  border: none;
  padding: 5px 0;
  width: 25%;

}

.add-blog #add-btn {
  float: right;
  margin:15px 10px 0 0;
  padding: 5px 15px;
  outline: none;
}
.add-blog #add-btn:hover{
background-color: #1f2235;
color: #eeeeee;
}
.form-article input,
.form-article textarea {
  outline: none;
  border: none;
  padding: 10px;
  background-color: #eeeeee;
  color: #1f2235;
}

.form-article button {
  background-color: #eeeeee;
  color: #1f2235;
}

.blog-lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 30px; */
}

.blog-lists .blog {
  width: 70%;
  border: 1px solid #1f2235;
  border-radius: 5px;
  flex-wrap: nowrap;
  margin: 1rem 0;
}

.blog div {
  width: 100%;
}

.blog p,
h5 {
  padding: 2rem;
}

.blog button {
  width: 30%;
  margin-left: 30px;
}

.blog .delete {
  margin-left: 20px;
  background-color: #560404;
}

.alert{
  background-color: rgb(7, 156, 211, .2);
  color: #079cd3;
  padding: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* margin-top: 10px; */
  text-align: center;
  font-size: 1.4rem;
  display: none;
  width: 90%;
}
.loading{
  width: 50px;
  height: 50px;
  border: 5px solid #1f2235;
  border-radius: 50%;
  margin: 10px auto;
  border-top: 5px solid #c7c1c1;
  animation: rotate .8s infinite linear;
}

@keyframes rotate {
  0%{
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  p{  font-size: 20px;}
  .navbar-container{
    display: flex;
    flex-direction: column;
  
}

.navbar-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.navbar-menu{
    display: flex;
}
.navbar-items{
   display: flex;
   flex-direction: column;
  
}
.navbar-items a{
padding: 10px;
cursor: pointer;
}
.navbar-items a:hover{
background-color: #eeeeee;
color: #1f2235;
transition: all 0.5s;
}

.navbar-items{
   display: none;
}

.navbar-active{
   display: flex;
}

  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .content-left {
    height: 300px;
    width: 300px;
    padding-right: 50px;
  }

  .content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0 0;
  }
  .txt, .about-top{
    width: 100%;
  }
  .txt p{
    padding: 10px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .card1,
  .card2,
  .card3 {

    width: 85%;
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .about-left {
    height: 300px;
    width: 300px;
    padding-right: 50px;
  }

  .about-right {
    margin: 50px 0;
    text-align: center;
    padding: 0px;
    width: 100%;
  }
  .contact-txt{
    width: 100%;
  }
  #about {
    display: flex;
    flex-direction: column;
    justify-content: column-reverse;
    font-size: 15px;
  }

  .main-about {
    display: flex;
    flex-direction: column;
  }

  .about-bottom {
    display: flex;
    flex-direction: column;
  }

  .about-top {
    padding-top: 100px;
  }
  .about-txt p {
    width: 100%;
  }

  /* #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  } */

  input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }

  textarea {
    width: 100%;
  }

  .contact-formbutton {
    width: 35%;
    height: 35px;
    text-align: center;
  }
 
  .blogs {
    display: flex;
    flex-direction: column;
  }

  .blog1,
  .blog2,
  .blog3,
  .blog4 {
    margin: 30px;
    padding: 30px;
    width: 70%;
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .nextround,
  .previousround {
    display: none;
  }

  .logins {
    width: 70%;
  }

  .loginbtn {
    width: 35%;
  }



  .bottom {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* background-color: #1f2235; */
  }

  .bottom .left,
  .bottom .right {
    width: 100%;
  }

  .blog-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-lists .blog {
    width: 100%;
    margin: 20px 0 0 15px;
  }

  .add-blog #add-btn {
    width: 30%;
  }

  .form {
    background-color: #1f2235;
    top: 95%;
    left: 26%;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 60%;
    padding: 30px 10px 0 20px;
    margin: 20px 0 0 90px;
  }
  .articles {
    display: flex;
    flex-direction: column;
  }

  .bottom .left {
    padding: 0;
  }
  .bottom .left img {
    padding-top: 20px;
  }

  .article,
  .blog-lists .article {
    width: 80%;
  }
  .blog-lists .article {
    height: 330px;
  
  }
  .article p {
    font-size: 1rem;
  }
  #login-form input {
    width: 90%;
  }
  #login-form button {
    width: 50%;
  }
  .content-right img {
    padding: 10px;
  }
  .about-left img {
    margin-bottom: 50px;
  }
  .update,
  .delete {
    font-size: 0.8rem;
  }
}
